.erd-container {
    text-align: center;
    font-family: Arial, sans-serif;
}

.erd-logo img {
    max-width: 200px;
    margin: 0 auto;
}

.erd-fantasy {
    /* If you want to style each letter differently, you can add custom CSS here */
}

.erd-courts {
    display: flex;
    justify-content: space-around;
}

.erd-court {
    width: 22%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

/* Since font sizes and colors are set inline, no need to define them here */